spec/support/dtd/schedule_sq.dtd

<!ELEMENT SCHEDULE_LIST (USER,CONDITION)>
<!ELEMENT USER EMPTY>
<!ELEMENT CONDITION EMPTY>

<!ATTLIST SCHEDULE_LIST 
		ACTION (LIST) "LIST"
>
<!ATTLIST USER
	USERNAME CDATA #REQUIRED
	PASSWORD CDATA #REQUIRED
>
<!ATTLIST CONDITION
	STATUS_TYPE (PROCESSED|PENDING|ERROR|SCHEDULED|GUID) "PROCESSED"
	START_DATE CDATA #IMPLIED
	END_DATE CDATA #IMPLIED
	GUID CDATA #IMPLIED
>