lib/dtd/requeststatusv12.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT STATUSREQUEST (USER,GUID+)>
<!ATTLIST STATUSREQUEST
    VER (1.2) #REQUIRED
>
<!ELEMENT USER EMPTY>
<!ATTLIST USER
	USERNAME CDATA #REQUIRED
	PASSWORD CDATA #REQUIRED
>
<!ELEMENT GUID (STATUS*)>
<!ATTLIST GUID
	GUID CDATA #REQUIRED
>
<!ELEMENT STATUS EMPTY>
<!ATTLIST STATUS
	SEQ CDATA #REQUIRED	
>
